html {
    font-size: 16px;
}

div#outsideFrame {
    border: 1rem groove red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1#pageTitle {
    align-self: flex-start;
    margin-left: 2rem;
    color: red;
    text-decoration: underline;
}

div#photoFrame {
    border: 0.5rem double black;
    width: 30rem;
    height: 20rem;
}

img#photo {
    width: 100%;
    height: 100%; 
}

input#displayedPhoto {
    width: 30rem;
}

p#pageDescription {
    color: red;
}

input#JSONURL {
    width: 32rem;
}

input#resetForm {
    margin-bottom: 1rem;
}