<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Removed</title>
  </head>
  <body>
    <h1>Removal off All Applications</h1>

    <p>
      All applications have been removed from the database. Number of
      applications removed: <%- removed %>
    </p>

    <a href="/">HOME</a>
  </body>
</html>
